.main-page {
	background-color: black;
	background-image: url("../../assets/background2.png");
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-bottom: 30px;
}