<mat-toolbar class="mat-elevation-z10" fxLayout="row">
  <div>
      <div class="valign-center" style="margin-left: 5px;"><img id="logo" src="../../assets/myFlix.png" alt="myFlix logo" routerLink="/movies" /></div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="menu-items">
          <li>
              <a [routerLink]="['/movies']"><mat-icon>movie</mat-icon> Movies</a>
          </li>
          <mat-divider [vertical]="true"></mat-divider>
          <li>
              <a [routerLink]="['/favorites']"><mat-icon>favorite</mat-icon> Favorites</a>
          </li>
          <mat-divider [vertical]="true"></mat-divider>
          <li>
              <a [routerLink]="['/profile']"><mat-icon>people</mat-icon> Profile</a>
          </li>
          <mat-divider [vertical]="true"></mat-divider>
          <li>
              <a (click)="logOutUser()"><mat-icon>logout</mat-icon> Logout</a>
          </li>
      </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
      <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
          <mat-icon class="menu">menu</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/movies']"><mat-icon>movies</mat-icon>Movies</button>
          <button mat-menu-item [routerLink]="['/favorites']"><mat-icon>favorite</mat-icon>Favorites</button>
          <button mat-menu-item [routerLink]="['/profile']"><mat-icon>people</mat-icon>Profile</button>
          <button mat-menu-item (click)="logOutUser()"><mat-icon>logout</mat-icon>Logout</button>
      </mat-menu>
  </div>
</mat-toolbar>
