.favorites-wrapper {
	background-color: black;
	background-image: url("../../assets/background2.png");
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.mat-card {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: relative;
	padding: 35px;
	background-color: transparent;
	max-width: 300px;
	width: 300px;
	.mat-card-title {
		line-height: 1.3;
		cursor: pointer;
	}
	.mat-icon {
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}
	img {
		width: 100%;
		margin-bottom: 20px;
		cursor: pointer;
	}
	a {
		color: #1e81b0;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			color: #249ad2;
		}
	}
}

h1,
p {
	text-align: center;
}

.submit-btn {
	background-color: #1e81b0;
	&:hover {
		background-color: #249ad2;
	}
}